body{
 margin:0;
 background:#020617;
 color:white;
 font-family:sans-serif;
}

#map{
 width:100%;
 height:100vh;
}

#radar{
 position:fixed;
 bottom:20px;
 right:20px;
 width:120px;
 height:120px;
 border-radius:50%;
 border:2px solid cyan;
 animation:spin 4s linear infinite;
}

@keyframes spin{
 from{transform:rotate(0)}
 to{transform:rotate(360deg)}
}

#hud{
 position:fixed;
 top:10px;
 left:10px;
 background:#111827aa;
 padding:10px;
 border-radius:10px;
}